<%- include("../partials/header")%>

<div class="container">
	<header class="jumbotron">
		<h1>
		Welcome to Yelp Camp!
		</h1>
		<p>
			View our hand-picked campgrounds from all over the world
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
		</p>
	</header>
	
	<div class="row">

		<% campgrounds.forEach(function(campground){ %>
			<div class="col-md-3 col-sm-6">
				<div class="card text-center">
					<img src="<%= campground.image%>" class="img-thumbnail">
					<div class="card-body">
						<h4>
						<%= campground.name %>
						</h4>	
					</div>
					<div class="card-link">
						<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
					</div>
				</div>
			</div>	
		<% }); %>
	</div>
	<%- include("../partials/footer")%>
</div>
	

